@model WebApplication2.Models.TonKho

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TonKho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChitietphieunhapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChitietphieunhapNavigation.IdChitietphieunhap)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTonkho" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
