@model WebApplication2.Models.OrderModel

@{
    ViewData["Title"] = "OderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin phiếu xuất</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã đơn hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCode)
        </dd>
        <dt class="col-sm-2">
            Ngày mua
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt class="col-sm-2">
            tên khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            Địa chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
    <h4>Chi Tiết đonw hàng</h4>
    <table style="border-collapse: collapse; width: 50%; margin: 20px;">
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd; background-color: #f2f2f2; text-align: left; padding: 8px;">Tên Sản Phẩm</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Số Lượng</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Đơn Giá</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Thành Tiền</th>
                <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Thuế Nhập</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderdetail in ViewData["OderDetail"] as List<OrderDetails>)
            {
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        @orderdetail.ProductId
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@orderdetail.Quantity</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">@orderdetail.Price</td>

                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
