@model WebApplication2.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDanhmucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDanhmucNavigation.IdDanhmuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDvtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDvtNavigation.IdDvt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHangsxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHangsxNavigation.IdHangsx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhienbanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhienbanNavigation.IdPhienban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdThoigianbaohanhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdThoigianbaohanhNavigation.IdTgbh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
